  <%= error_messages_for(@domain) %>
 <table summary="Domain from fields">
 <tr>
 <th><%= f.label(:account_id, "Account") %></th>
 <td><%= f.select(:account_id, @accounts.map {|s| [s.name, s.id]}) %></td>
 </tr>
 <th><%= f.label(:hostname, "HostName") %></th>
 <td><%= f.text_field(:hostname) %></td>

 </tr>

 </table>