<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Domains delete">
 <h2>Delete Domain</h2>

 <%= form_for(:domain, :url => {:action => 'destroy', :id => @domain.id}) do |f| %>

<p> Are you sure you want to permanently delete this domain?</p>

<p class="reference-name"><%= @domain.hostname %></p>

<div class="form-buttons">
<%= submit_tag("Delete Domain") %>
</div>
<% end%>
</div>