<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Domains edit">
 <h2>Update Domain</h2>

 <%= form_for(:domain, :url => {:action => 'update', :id => @domain.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

 <div class="form-buttons">
 	<%= submit_tag("Update Domain") %>
 	</div>
 <% end %>
 </div>
