<div class="domain index">
	<h2>Domains</h2>

	<%= link_to("Add New Domain", :action => 'new', :class => 'action new') %>

	<table class="listing" summary="Domain list">
		<tr class="header">

		<th>Account</th>
		<th>Domain</th>
		<th>Origin IP</th>
		<th>Actions</th>
		</tr>
		<% @domains.each do |domain| %>
		<tr>
			<td><%= domain.account.name if domain.account %></td>
			
			<td class ="center"><%= domain.hostname %></td>	
			<td class ="center"><%= domain.origin_ip %></td>		
	
		
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => domain.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit', :id => domain.id}, :class => 'actions edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => domain.id}, :class => 'action delete') %>
				</td>
				</tr>
				<% end %>
				</table>
				</div>
