<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Domains new">
 <h2>Create Domains</h2>

 <%= form_for(:domain, :url => {:action => 'create'}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

 <div class="form-buttons">
 	<%= submit_tag("Create Domain") %>
 	</div>
 <% end %>
 </div>