
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="domains show">
	<h2>Show Domains</h2>

	<table summary="Domain detail view">
		<tr>
		<th>Account Name</th>
		<td><%= @domain.account.name %></td>
		</tr>
		<tr>
		<th>HostName</th>
		<td><%= @domain.hostname %></td>
		</tr>
		<tr>
		<th>Origin IP</th>
		<td><%= @domain.origin_ip %></td>
		</tr>


		<tr>
		<th>Created</th>
		<td><%= @domain.created_at %></td>
		</tr>
		
		<tr>
		<th>Updated</th>
		<td><%= @domain.updated_at %></td>
		</tr>
	</table>

	</div>
