/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body
{
background: #0066ff;
}
.odd {
background: #FFFFFF;	
}
	
#errorExplanation
{
	color:red;
}
.center {
	text-align: center;
}