<!DOCTYPE html>
<html>
	<head>
	<%= stylesheet_link_tag('application', :media => 'all') %>
	<title>Distil Networks | <%= @page_title || "Admin" %></title>
	</head>
	<body>
		<div id="header">
		<%= image_tag('logo.png', :size => '200x200', :alt => 'logo') %>
		
		</div>
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="notice">
				<%= flash[:notice] %>
				</div>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p id="copyright">&copy; Matt Salamon 2014</p>
		</div>
	</body>
</html>
