<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Accounts delete">
 <h2>Delete Account</h2>

 <%= form_for(:account, :url => {:action => 'destroy', :id => @account.id}) do |f| %>

<p> Are you sure you want to permanently delete this account?</p>

<p class="reference-name"><%= @account.name %></p>

<div class="form-buttons">
<%= submit_tag("Delete Account") %>
</div>
<% end%>
</div>