<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Accounts edit">
 <h2>Update Account</h2>

 <%= form_for(:account, :url => {:action => 'update', :id => @account.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>
<table>
<tr>
		 <th><%= f.label("Edited On") %></th>
		 <td><%= f.datetime_select(:updated_at, :order => [:month, :day, :year]) %></td>
 	</tr>
 	</table>
 <div class="form-buttons">
 	<%= submit_tag("Update Account") %>
 	</div>
 <% end %>
 </div>
