<% @domain_title = "Accounts" %>

<div class="account index">
	<h2>Accounts</h2>


	<%= link_to("Add New Account", {:action => 'new'}, :class => 'action new') %>

	<div><%= pluralize(@accounts.size, 'account') %> found</div>
	<table class="listing" summary="Account list">
		<tr class="header">
		
		<th>Account</th>
		<th>Domains</th>
		<th>Actions</th>
		</tr>
		<% @accounts.each do |account| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= account.name %></td>
			<td class="center"><%= account.domains.size %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => account.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit', :id => account.id}, :class => 'actions edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => account.id}, :class => 'action delete') %>
				</td>
				</tr>
				<% end %>
				</table>
				</div>
