<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="Accounts new">
 <h2>Create Accounts</h2>

 <%= form_for(:account, :url => {:action => 'create'}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

 <div class="form-buttons">
 	<%= submit_tag("Create Account") %>
 	</div>
 <% end %>
 </div>