
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="accounts show">
	<h2>Show Accounts</h2>

	<table summary="Account detail view">
		<tr>
		<th>Name</th>
		<td><%= @account.name %></td>
		</tr>

		<tr>
		<th>Number of Domains</th>
		<td><%= @account.domains.size %></td>
		</tr>

		<tr>
		<th>Created</th>
		<td><%= @account.created_at %></td>
		</tr>
		
		<tr>
		<th>Updated</th>
		<td><%= @account.updated_at %></td>
		</tr>
	</table>

	</div>
